body {
    background-color: #FFFFFF;
}

#banner {
    width: 100%;
}

.principal {
    background-color: #cccccc;
    margin-top: -3px;
    padding: 26px;
    border: 5px solid black;
}

.titulo-centralizado {
    text-align: center;
    font-size: 22px;
    padding-bottom: 5px;
}

p {
    text-align: center;
    font-size: 18px;
}

#missao {
    font-size: 20px;
    padding: 5px 0;
}

/*  hierarquia o navegador vai procurar
    todo strong dentro de um em   */
em strong {
    color: #FF0000;
}

.itens {
    font-style: italic;
}

.beneficios {
    background-color: #FFFFFF;
    padding: 15px;
}

.lista-beneficios h3 {
    font-size: 26px;
    font-weight: bold;
}

.lista-beneficios:hover h3 {
    font-size: 33px;
}

.lista-beneficios {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin: 30px 0 0 50px;
    padding: 30px 20px;
    box-sizing: border-box;
}

.lista-beneficios:hover {
    font-size: 20px;
}

/*  o display da tag, pode ser tanto inline quanto block, ou ambos
    e isso significa que ele bloqueia o espaço na linha que ele ocupa
    mas um tipo que pode ser inline-block, permite que mesmo sendo
    bloqueado, vc possa mexer em sua largura e tamanho  */

.imgBeneficios {
    width: 50%;
    margin-left: 60px;
}